.loginbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-family: monospace;
  font-size: 40px;
  width: 550px;
  height: 70px;
}

.loginfld {
  height: 70px;
  width: 550px;
  font-size: 40px;
  font-family: monospace;
}

form {
  width: 80%;
  height: 300px;
  margin:0 auto;
}

dd {
    text-align: center;
    margin: 16px;
    font-family: monospace;
    font-size: 40px;
}

h4 {
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    padding-top: 20px;
}
