table
{
  table-layout: fixed;
  width: 100%;
  background-color: #f8f7ff;
}

.chartsList{
  width: auto;
  font-size: 30px;
  padding: 20px;
}

.container{
  width: 600px;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-stat {
  text-align: center;
  vertical-align: top;
  width: 50px;
  background-color: #d5d0f5;
}

.tg .tg-plyr {
  height: 30px;
  text-align: center;
  background-color: #d5d0f5;
}

.tg .first-cell {
  width: 10px;
  background-color: #d5d0f5;
}

.stat-button {
  width: 100%;
  font-size: 20px;
  border: .5px solid black;
  background-color: #f8f7ff;
  border-radius: 10px;
  transition: background-color ease-in .1s;
}

.stat-button:hover {
  background-color: #d5d0f5;
  color: white;
}

#addSub {
  float: right;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: green;
  transition: background-color ease-in .1s;
}

#undo {
  float: right;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: lightgrey;
  transition: background-color ease-in .1s;
  border-color: blue;

}

.topnav {
  overflow: hidden;
  background-color: #0047AB;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.eventname {
  font-size: 24px;
  color: white;
  background-color: #808080;
}

/*not being using right now, was for the pencil edit*/
.edit {
  width: 3%;
}

.table-button a {
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  cursor:pointer;
  font-size: 15px;
  background-color: #0047AB;
  align-content: center;
  color: #f2f2f2;
} 

table a {
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
}

.chartsList .td{
  text-align: center;
}