{% extends 'base.html' %}
{% block subtract %}
<button id='addSub'>+</button>
{% endblock %}
{% block content %}
<table class="tg">
  <thead>
    <tr>
      <th class="first-cell"></th>
      {% for stat in stats %}
      <th class="tg-stat disable-select">{{ stat }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for plyr in plyrs %}
    <tr>
      <td class="tg-plyr disable-select">{{ plyr }}</td>
      {% for stat in stats_print %}
      <td><button class="stat-button disable-select" id='{{ plyr }}{{ stat }}'>0</button></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
