{% extends 'base.html' %}
{% block subtract %}
<button class='toolBtn' id='addSub'>+</button>
<button class='toolBtn' id='undo'>&#10226</button>
{% endblock %}
{% block content %}
<div>
  <span class="eventname" contenteditable="true" id=idContentEditable>{{ event_name }}</span>
  <!--<img class="edit" src="/static/edit.png">--->
</div>
<table class="tg">
  <thead>
    <tr>
      <th class="first-cell"></th>
      {% for cat in categories %}
      <th class="tg-stat disable-select">{{ cat }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for plyr in plyrs %}
    <tr>
      <td class="tg-plyr disable-select">{{ plyr.name }}</td>
      {% for stat in plyr.stats %}
      <td><button class="stat-button disable-select">{{ stat }}</button></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
