{% extends 'base.html' %}
{% block subtract %}
<button class='toolBtn' id='addSub'>+</button>
<button class='toolBtn' id='undo'>&#10226</button>
{% endblock %}
{% block content %}
<table class="tg">
  <thead>
    <tr>
      <th class="first-cell"></th>
      {% for stat in stats %}
      <th class="tg-stat disable-select">{{ stat }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for plyr in plyrs %}
    <tr>
      <td class="tg-plyr disable-select">{{ plyr.name }}</td>
      {% for stat in plyr.stats %}
      <td><button class="stat-button disable-select">{{ stat }}</button></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
